body{
  background: #000;
}

.clickmenu{
    text-decoration: none;
    font-size:25px;
    margin: 2%;
    font-family: 'Yusei Magic', sans-serif;
    opacity: 0.4;
    color:#FFD5FF; 
}

.clickmenu:hover{
    color:#FFD5FF;
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px,5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
    opacity: 1.0;
}

.neon{
  font-family: 'Yusei Magic', sans-serif;
  font-size:40px;
  color: #FFD5FF;
  #position: absolute;
  left: 50%;
  top: 30%;
  text-align: center;
  margin: 20px;
  #transform: translate(-50%, -50%);
  font-weight: 100;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

nav {
    margin-top: 10px;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

nav li {
  display: inline;

}

nav li a:hover:not(.active) {
 
}
nav li .active {
    background-color: #4CAF50;
}

main{
    display:block;
    align: center;
}

iframe[name=mainframe] {
    border: 0;
    display: block;
    width: 50%;
    height: 80%;
    min-height: 70vh;
    text-align: center;
    margin-left: auto;   /* Automatic margin from left */ 
    margin-right: auto; /* Automatic margin from right */
}

footer {
    color:#FFD5FF;
    position: absolute;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
}
